<mat-toolbar>
    <p>SpaceX</p>&nbsp;
    <button mat-stroked-button color="link" (click)="home()">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>
<app-loader></app-loader>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('capsules')">
                <span>Capsules</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('cores')">
                <span>Cores</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('dragons')">
                <span>Dragons</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('landingpads')">
                <span>Landing Pads</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('launches')">
                <span>Launches</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('launchpads')">
                <span>Launch Pads</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('missions')">
                <span>Missions</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('payloads')">
                <span>Payloads</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('rockets')">
                <span>Rockets</span>
            </button>
        </div>
        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('roadster')">
                <span>Roadster</span>
            </button>
        </div>

        <div>
            <button mat-stroked-button color="accent" class="button" (click)="handleClick('ships')">
                <span>Ships</span>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        </mat-sidenav-content>
</mat-sidenav-container>

